@import "tailwindcss";

/* league-spartan-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 400;
    src:
        url("./assets/fonts/league-spartan-v15-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/league-spartan-v15-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* league-spartan-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 500;
    src:
        url("./assets/fonts/league-spartan-v15-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/league-spartan-v15-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* league-spartan-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "League Spartan";
    font-style: normal;
    font-weight: 700;
    src:
        url("./assets/fonts/league-spartan-v15-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/league-spartan-v15-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@theme {
    --color-*: initial;

    --color-white: hsl(0, 0%, 100%);

    --color-gray-400: hsl(180, 8%, 52%);

    --color-green-50: hsl(180, 52%, 96%);
    --color-green-400: hsl(180, 29%, 50%);
    --color-green-900: hsl(180, 14%, 20%);

    --font-*: initial;

    --font-weight-*: initial;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

@layer base {
    :root {
        --focus-outline-offset: 3px;
        --focus-outline-width: 3px;
        --focus-outline-style: dashed;
        --focus-outline-color: hsl(180, 14%, 20%);
    }

    body {
        font-family: "League Spartan", system-ui;
        line-height: 1;
    }

    button {
        cursor: pointer;
    }

    p {
        @apply text-gray-400;
    }

    h1,
    h2,
    h3 {
        @apply font-bold text-green-900;
    }

    @supports selector(:focus-visible) {
        a:focus,
        button:focus {
            outline: none;
        }

        a:focus-visible,
        button:focus-visible {
            outline-offset: var(--focus-outline-offset);
            outline-width: var(--focus-outline-width);
            outline-color: var(--focus-outline-color);
            outline-style: var(--focus-outline-style);
        }
    }
}
